<h1>Angular Portfolio Items</h1>

<%= link_to "Create New Item", new_portfolio_path %>

<% @angular_portfolio_items.each do |angular_portfolio_item| %>
  <h3><%= link_to angular_portfolio_item.title, portfolio_show_path(angular_portfolio_item) %></h3>
  <p><%= angular_portfolio_item.subtitle %></p>
  <p><%= angular_portfolio_item.body %></p>
  <%= image_tag angular_portfolio_item.thumb_image unless angular_portfolio_item.thumb_image.nil? %>
  <%= link_to "Edit", edit_portfolio_path(angular_portfolio_item) %>
  <%= link_to "Delete", portfolio_path(angular_portfolio_item), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
